* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* header*/

body {
  line-height: 1.6;
}


.jumbotron {
  background: #5865F2;
  color: white;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.jumbotron-content {
  text-align: center;
  margin-top: 4rem;
}

.jumbotron-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* body */

.section {
  padding: 4rem 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.container .reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

.image {
  flex-grow: 1;
  min-height: 200px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer */
.footer {
  background: #23272A;
  color: white;
  padding: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columns {
  display: flex;
  gap: 2rem;
}

